<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>blackjack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F14353BA1CE4D0B800A65F3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F14353CE1CE4D0B800A65F3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F14353D91CE4D0B800A65F3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
